<!-- confirmation.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Box</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="confirmation">Type 'yes' to confirm:</label>
        <input type="text" id="confirmation" name="confirmation">
        <button type="submit">Submit</button>
        <P>{{ result }} </p>
    </form>
</body>
</html>
