<!DOCTYPE html>
<html>
<style>
span.psw {
  float: right;
  width: 2cm;
  padding-top: px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<title>Home</title>
<body style="background-color:hsl(0, 0%, 91%);" >
<h1>Fruit Store</h1>
	<form action="">
    	<input type="text" name="fruit" placeholder="Search by title" value="{{request.GET.title}}">
    	<input type="submit" value="Search">
	</form>
	<br>
	<div>
		{% if user.is_authenticated %}
			Hello, <a href = 'user/id={{user.id}}'> {{ user.username }} </a>
			<span class="psw"> <a href="/logout">Log out</a></span>
		{% else %}
			You are not logged in
			<span class="psw"> <a href="accounts/login">Log in</a></span>
			<span class="psw"> <a href="accounts/signup">Sign up</a></span>
		{% endif %}
	</div>
	<br>
	<div>Find other user <a href="/search">here</a> </div>
	<br>
    <div>Upload your file <a href="/file">here</a> </div>
<div class="row">
  <div class="column">
  	<h3>Banana: 1$</h3>
    <img src="https://i.imgur.com/QeQDRXH.jpeg" style="width:60%" height="300">
    <br>
    This is a banana from <a href="fruit/banana">...</a>
  </div>
  <div class="column">
  	<h3>Pineapple: 2$  </h3>
    <img src="https://i.imgur.com/JxbojjX.jpg" style="width:60%" height="300">
    <br>
    This is a pineapple from <a href="fruit/pineapple">...</a>
    <br>
  </div>
  <div class="column">
  	<h3>Strawberry: 0.2$</h3>
    <img src="https://i.imgur.com/CMLt6XO.jpg" style="width:60%" height="300">
    <br>
    This is a strawberry from <a href="fruit/strawberry">...</a>
  </div>
  <div class="column">
  	<h3>Watermelon: 20$</h3>
    <img src="https://i.imgur.com/zkrozMl.jpeg" style="width:60%" height="300">
    <br>
    This is a watermelon from <a href="fruit/watermelon">...</a>
  </div>
  <div class="column">
  	<h3>Apple: 3$</h3>
    <img src="https://i.imgur.com/puD9t0x.png" style="width:60%" height="300">
    <br>
    This is an apple from <a href="fruit/apple">...</a>
  </div>
  <div class="column">
  	<h3>Watermelon: 20$</h3>
    <img src="https://i.imgur.com/zkrozMl.jpeg" style="width:60%" height="300">
    <br>
    This is a watermelon from <a href="fruit/watermelon">...</a>
  </div>
</div>


</body>
</html>
