<!DOCTYPE HTML>

{% load static %}
<html>
	<head>
		<title>Fruit</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<link rel="stylesheet" href="{% static '/assets/css/main.css' %}"/>
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<img src="static/images/logo.png" alt="" width="230" height="230"><span class="title"></span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							
							{% if user.is_authenticated %}
							<li><a href = 'user/id={{user.id}}'> Hello, {{ user.username }}</a></li>
							<li><a href="/logout">Log out</a></span></li>
							{% else %}
							<li><a href="accounts/login">Log in</a></span></li>
							<li><a href="accounts/signup">Sign up</a></span></li>
							{% endif %}
						
							
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>This is a fruit blog where people talk about fruits</h1>
								<h4>Find other users <a href="/search">here</a> </h4>
								
								<h4>Upload your file <a href="/file">here</a> </h4>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="static/images/pic01.jpg" alt="" />
									</span>
									<a href="/fruit/banana">
										<h2>Banana</h2>
										<div class="content">
											<p>a long curved fruit which grows in clusters and has soft pulpy flesh and yellow skin when ripe.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="static/images/pic02.jpg" alt="" />
									</span>
									<a href="/fruit/pineapple">
										<h2>Pineapple</h2>
										<div class="content">
											<p>a large juicy tropical fruit consisting of aromatic edible yellow flesh surrounded by a tough segmented skin and topped with a tuft of stiff leaves.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="static/images/pic03.jpg" alt="" />
									</span>
									<a href="/fruit/strawberry">
										<h2>Strawberry</h2>
										<div class="content">
											<p>a sweet soft red fruit with a seed-studded surface.</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="static/images/pic04.jpg" alt="" />
									</span>
									<a href="/fruit/apple">
										<h2>Apple</h2>
										<div class="content">
											<p>the round fruit of a tree of the rose family, which typically has thin red or green skin and crisp flesh. Many varieties have been developed as dessert or cooking fruit or for making cider.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="static/images/pic05.jpg" alt="" />
									</span>
									<a href="generic">
										<h2>Aliquam</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="static/images/pic06.jpg" alt="" />
									</span>
									<a href="generic">
										<h2>Veroeros</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="static/images/pic07.jpg" alt="" />
									</span>
									<a href="generic">
										<h2>Ipsum</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="static/images/pic08.jpg" alt="" />
									</span>
									<a href="generic">
										<h2>Dolor</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="static/images/pic09.jpg" alt="" />
									</span>
									<a href="generic">
										<h2>Nullam</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="static/images/pic10.jpg" alt="" />
									</span>
									<a href="generic">
										<h2>Ultricies</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="static/images/pic11.jpg" alt="" />
									</span>
									<a href="generic">
										<h2>Dictum</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="static/images/pic12.jpg" alt="" />
									</span>
									<a href="generic">
										<h2>Pretium</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>